---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { getProducts } from '../firebase/server';

const products = await getProducts();
---

<Layout title="Welcome to Astro.">
  <main>
    <div
      class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:gap-x-6"
    >
      {
        products.map((item) => (
          <Card
            href={`/product/${item.slug}`}
            title={item.title}
            image={item.image}
            body={item.description}
            price={item.price}
          />
        ))
      }
    </div>
  </main>
</Layout>
